#conteudo {
    border: 0px solid;
    padding: 10px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    border-style: dashed;
    /*border-color: #f00; */
    padding: 15px 35px 45px 15px;
}
